/Coffee Machine/task/build/reports/tests/test/css/base-style.css
/build.gradle
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.gradle/6.6.1/javaCompile/classAnalysis.bin
/Coffee Machine/task/build/classes/java/main/machine/CoffeeMachine.class
/Coffee Machine/task/build/classes/java/test/CoffeeMachineTest.class
/Coffee Machine/task/build/reports/tests/test/classes/CoffeeMachineTest.html
/Coffee Machine/task/test/CoffeeMachineTest.java
/course-info.yaml
/course-remote-info.yaml
/Coffee Machine/task/build/reports/tests/test/packages/default-package.html
/.gradle/6.6.1/executionHistory/executionHistory.bin
/.gradle/6.7/executionHistory/executionHistory.bin
/.gradle/6.6.1/executionHistory/executionHistory.lock
/.gradle/6.7/executionHistory/executionHistory.lock
/.gradle/6.6.1/fileContent/fileContent.lock
/.gradle/6.6.1/fileHashes/fileHashes.bin
/.gradle/6.7/fileHashes/fileHashes.bin
/.gradle/6.6.1/fileHashes/fileHashes.lock
/.gradle/6.7/fileHashes/fileHashes.lock
/.gradle/6.6.1/gc.properties
/.gradle/6.7/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/Coffee Machine/task/build/reports/tests/test/index.html
/Coffee Machine/task/build/tmp/test/jar_extract_1494956700836339560_tmp
/.gradle/6.6.1/javaCompile/jarAnalysis.bin
/.gradle/6.6.1/javaCompile/javaCompile.lock
/.gradle/6.6.1/fileChanges/last-build.bin
/.gradle/6.7/fileChanges/last-build.bin
/Coffee Machine/lesson-info.yaml
/.gradle/checksums/md5-checksums.bin
/Coffee Machine/task/build/test-results/test/binary/output.bin
/Coffee Machine/task/build/test-results/test/binary/output.bin.idx
/.gradle/buildOutputCleanup/outputFiles.bin
/Coffee Machine/task/build/reports/tests/test/js/report.js
/.gradle/6.6.1/fileHashes/resourceHashesCache.bin
/Coffee Machine/task/build/test-results/test/binary/results.bin
/settings.gradle
/.gradle/checksums/sha1-checksums.bin
/Coffee Machine/task/build/tmp/compileJava/source-classes-mapping.txt
/Coffee Machine/task/build/tmp/compileTestJava/source-classes-mapping.txt
/Coffee Machine/task/build/reports/tests/test/css/style.css
/Coffee Machine/Brush up your code/task.html
/Coffee Machine/Buy, fill, take_/task.html
/Coffee Machine/Estimate the number of servings/task.html
/Coffee Machine/Ingredient calculator/task.html
/Coffee Machine/Keep track of the supplies/task.html
/Coffee Machine/Making coffee/task.html
/Coffee Machine/Brush up your code/task-info.yaml
/Coffee Machine/Buy, fill, take_/task-info.yaml
/Coffee Machine/Estimate the number of servings/task-info.yaml
/Coffee Machine/Ingredient calculator/task-info.yaml
/Coffee Machine/Keep track of the supplies/task-info.yaml
/Coffee Machine/Making coffee/task-info.yaml
/Coffee Machine/Brush up your code/task-remote-info.yaml
/Coffee Machine/Buy, fill, take_/task-remote-info.yaml
/Coffee Machine/Estimate the number of servings/task-remote-info.yaml
/Coffee Machine/Ingredient calculator/task-remote-info.yaml
/Coffee Machine/Keep track of the supplies/task-remote-info.yaml
/Coffee Machine/Making coffee/task-remote-info.yaml
/.gradle/6.6.1/javaCompile/taskHistory.bin
/Coffee Machine/task/build/test-results/test/TEST-CoffeeMachineTest.xml
/Coffee Machine/task/build/tmp/test/jar_extract_657191383753387555_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_3078621523150495252_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_4002883113737170103_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_9205097789082039998_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_13446970387729596563_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_13744668766772121113_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_14368474799886896377_tmp
/Coffee Machine/task/build/classes/java/test/TestClue.class
/Coffee Machine/task/out/production/classes/machine/CoffeeMachine.class
/Coffee Machine/task/out/test/classes/CoffeeMachineTest.class
/Coffee Machine/task/build/tmp/test/jar_extract_6553990407964843782_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_14761033256189874790_tmp
/Coffee Machine/task/out/test/classes/TestClue.class
/Coffee Machine/task/build/tmp/test/jar_extract_1658837507215178294_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_12542739646485158435_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_1546735562625433355_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_5531121359494956799_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_5839070842559637064_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_6899947311822949269_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_16186629275819310604_tmp
/.idea/modules/Problems/Application as a class/Coffee_Machine.Problems-Application_as_a_class.iml
/.idea/modules/Problems/Application as a class/Coffee_Machine.Problems-Application_as_a_class.main.iml
/.idea/modules/Problems/Application as a class/Coffee_Machine.Problems-Application_as_a_class.test.iml
/.idea/modules/Problems/Currencies/Coffee_Machine.Problems-Currencies.iml
/.idea/modules/Problems/Currencies/Coffee_Machine.Problems-Currencies.main.iml
/.idea/modules/Problems/Currencies/Coffee_Machine.Problems-Currencies.test.iml
/.idea/modules/Problems/Danger levels/Coffee_Machine.Problems-Danger_levels.iml
/.idea/modules/Problems/Danger levels/Coffee_Machine.Problems-Danger_levels.main.iml
/.idea/modules/Problems/Danger levels/Coffee_Machine.Problems-Danger_levels.test.iml
/.idea/modules/Problems/Days of week/Coffee_Machine.Problems-Days_of_week.iml
/.idea/modules/Problems/Days of week/Coffee_Machine.Problems-Days_of_week.main.iml
/.idea/modules/Problems/Days of week/Coffee_Machine.Problems-Days_of_week.test.iml
/.idea/modules/Problems/Days of week (1)/Coffee_Machine.Problems-Days_of_week__1_.iml
/.idea/modules/Problems/Days of week (1)/Coffee_Machine.Problems-Days_of_week__1_.main.iml
/.idea/modules/Problems/Days of week (1)/Coffee_Machine.Problems-Days_of_week__1_.test.iml
/.idea/modules/Problems/Hidden enumeration/Coffee_Machine.Problems-Hidden_enumeration.iml
/.idea/modules/Problems/Hidden enumeration/Coffee_Machine.Problems-Hidden_enumeration.main.iml
/.idea/modules/Problems/Hidden enumeration/Coffee_Machine.Problems-Hidden_enumeration.test.iml
/.idea/modules/Problems/Inverse boolean flags/Coffee_Machine.Problems-Inverse_boolean_flags.iml
/.idea/modules/Problems/Inverse boolean flags/Coffee_Machine.Problems-Inverse_boolean_flags.main.iml
/.idea/modules/Problems/Inverse boolean flags/Coffee_Machine.Problems-Inverse_boolean_flags.test.iml
/.idea/modules/Problems/Project constants and methods/Coffee_Machine.Problems-Project_constants_and_methods.iml
/.idea/modules/Problems/Project constants and methods/Coffee_Machine.Problems-Project_constants_and_methods.main.iml
/.idea/modules/Problems/Project constants and methods/Coffee_Machine.Problems-Project_constants_and_methods.test.iml
/.idea/modules/Problems/Robot control/Coffee_Machine.Problems-Robot_control.iml
/.idea/modules/Problems/Robot control/Coffee_Machine.Problems-Robot_control.main.iml
/.idea/modules/Problems/Robot control/Coffee_Machine.Problems-Robot_control.test.iml
/.idea/modules/Problems/Sorting numbers/Coffee_Machine.Problems-Sorting_numbers.iml
/.idea/modules/Problems/Sorting numbers/Coffee_Machine.Problems-Sorting_numbers.main.iml
/.idea/modules/Problems/Sorting numbers/Coffee_Machine.Problems-Sorting_numbers.test.iml
/.idea/modules/Problems/The star figure/Coffee_Machine.Problems-The_star_figure.iml
/.idea/modules/Problems/The star figure/Coffee_Machine.Problems-The_star_figure.main.iml
/.idea/modules/Problems/The star figure/Coffee_Machine.Problems-The_star_figure.test.iml
/.idea/modules/Problems/Too many cats/Coffee_Machine.Problems-Too_many_cats.iml
/.idea/modules/Problems/Too many cats/Coffee_Machine.Problems-Too_many_cats.main.iml
/.idea/modules/Problems/Too many cats/Coffee_Machine.Problems-Too_many_cats.test.iml
/Problems/Project constants and methods/out/production/classes/ConstantsAndUtilities.class
/Problems/lesson-info.yaml
/Problems/Days of week (1)/out/production/classes/Main$DayOfWeek.class
/Problems/Days of week (1)/out/production/classes/Main.class
/Problems/Project constants and methods/out/production/classes/Main.class
/Problems/Sorting numbers/out/production/classes/Main.class
/Problems/The star figure/out/production/classes/Main.class
/Problems/Application as a class/src/Main.java
/Problems/Currencies/src/Main.java
/Problems/Danger levels/src/Main.java
/Problems/Days of week/src/Main.java
/Problems/Days of week (1)/src/Main.java
/Problems/Hidden enumeration/src/Main.java
/Problems/Inverse boolean flags/src/Main.java
/Problems/Project constants and methods/src/Main.java
/Problems/Robot control/src/Main.java
/Problems/Sorting numbers/src/Main.java
/Problems/The star figure/src/Main.java
/Problems/Too many cats/src/Main.java
/Problems/Application as a class/task.html
/Problems/Currencies/task.html
/Problems/Danger levels/task.html
/Problems/Days of week/task.html
/Problems/Days of week (1)/task.html
/Problems/Hidden enumeration/task.html
/Problems/Inverse boolean flags/task.html
/Problems/Project constants and methods/task.html
/Problems/Robot control/task.html
/Problems/Sorting numbers/task.html
/Problems/The star figure/task.html
/Problems/Too many cats/task.html
/Problems/Application as a class/task-info.yaml
/Problems/Currencies/task-info.yaml
/Problems/Danger levels/task-info.yaml
/Problems/Days of week/task-info.yaml
/Problems/Days of week (1)/task-info.yaml
/Problems/Hidden enumeration/task-info.yaml
/Problems/Inverse boolean flags/task-info.yaml
/Problems/Project constants and methods/task-info.yaml
/Problems/Robot control/task-info.yaml
/Problems/Sorting numbers/task-info.yaml
/Problems/The star figure/task-info.yaml
/Problems/Too many cats/task-info.yaml
/Problems/Application as a class/task-remote-info.yaml
/Problems/Currencies/task-remote-info.yaml
/Problems/Danger levels/task-remote-info.yaml
/Problems/Days of week/task-remote-info.yaml
/Problems/Days of week (1)/task-remote-info.yaml
/Problems/Hidden enumeration/task-remote-info.yaml
/Problems/Inverse boolean flags/task-remote-info.yaml
/Problems/Project constants and methods/task-remote-info.yaml
/Problems/Robot control/task-remote-info.yaml
/Problems/Sorting numbers/task-remote-info.yaml
/Problems/The star figure/task-remote-info.yaml
/Problems/Too many cats/task-remote-info.yaml
/Coffee Machine/task/build/tmp/test/jar_extract_11758875327044565497_tmp
