/Coffee Machine/task/build/reports/tests/test/css/base-style.css
/build.gradle
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.gradle/6.6.1/javaCompile/classAnalysis.bin
/Coffee Machine/task/build/classes/java/main/machine/CoffeeMachine.class
/Coffee Machine/task/build/classes/java/test/CoffeeMachineTest.class
/Coffee Machine/task/build/reports/tests/test/classes/CoffeeMachineTest.html
/Coffee Machine/task/test/CoffeeMachineTest.java
/course-info.yaml
/course-remote-info.yaml
/Coffee Machine/task/build/reports/tests/test/packages/default-package.html
/.gradle/6.6.1/executionHistory/executionHistory.bin
/.gradle/6.7/executionHistory/executionHistory.bin
/.gradle/6.6.1/executionHistory/executionHistory.lock
/.gradle/6.7/executionHistory/executionHistory.lock
/.gradle/6.6.1/fileContent/fileContent.lock
/.gradle/6.6.1/fileHashes/fileHashes.bin
/.gradle/6.7/fileHashes/fileHashes.bin
/.gradle/6.6.1/fileHashes/fileHashes.lock
/.gradle/6.7/fileHashes/fileHashes.lock
/.gradle/6.6.1/gc.properties
/.gradle/6.7/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/Coffee Machine/task/build/reports/tests/test/index.html
/Coffee Machine/task/build/tmp/test/jar_extract_1494956700836339560_tmp
/.gradle/6.6.1/javaCompile/jarAnalysis.bin
/.gradle/6.6.1/javaCompile/javaCompile.lock
/.gradle/6.6.1/fileChanges/last-build.bin
/.gradle/6.7/fileChanges/last-build.bin
/Coffee Machine/lesson-info.yaml
/.gradle/checksums/md5-checksums.bin
/Coffee Machine/task/build/test-results/test/binary/output.bin
/Coffee Machine/task/build/test-results/test/binary/output.bin.idx
/.gradle/buildOutputCleanup/outputFiles.bin
/Coffee Machine/task/build/reports/tests/test/js/report.js
/.gradle/6.6.1/fileHashes/resourceHashesCache.bin
/Coffee Machine/task/build/test-results/test/binary/results.bin
/settings.gradle
/.gradle/checksums/sha1-checksums.bin
/Coffee Machine/task/build/tmp/compileJava/source-classes-mapping.txt
/Coffee Machine/task/build/tmp/compileTestJava/source-classes-mapping.txt
/Coffee Machine/task/build/reports/tests/test/css/style.css
/Coffee Machine/Brush up your code/task.html
/Coffee Machine/Buy, fill, take_/task.html
/Coffee Machine/Estimate the number of servings/task.html
/Coffee Machine/Ingredient calculator/task.html
/Coffee Machine/Keep track of the supplies/task.html
/Coffee Machine/Making coffee/task.html
/Coffee Machine/Brush up your code/task-info.yaml
/Coffee Machine/Buy, fill, take_/task-info.yaml
/Coffee Machine/Estimate the number of servings/task-info.yaml
/Coffee Machine/Ingredient calculator/task-info.yaml
/Coffee Machine/Keep track of the supplies/task-info.yaml
/Coffee Machine/Making coffee/task-info.yaml
/Coffee Machine/Brush up your code/task-remote-info.yaml
/Coffee Machine/Buy, fill, take_/task-remote-info.yaml
/Coffee Machine/Estimate the number of servings/task-remote-info.yaml
/Coffee Machine/Ingredient calculator/task-remote-info.yaml
/Coffee Machine/Keep track of the supplies/task-remote-info.yaml
/Coffee Machine/Making coffee/task-remote-info.yaml
/.gradle/6.6.1/javaCompile/taskHistory.bin
/Coffee Machine/task/build/test-results/test/TEST-CoffeeMachineTest.xml
/Coffee Machine/task/build/tmp/test/jar_extract_657191383753387555_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_3078621523150495252_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_4002883113737170103_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_9205097789082039998_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_13446970387729596563_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_13744668766772121113_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_14368474799886896377_tmp
/Coffee Machine/task/build/classes/java/test/TestClue.class
